/* 
  Common CSS 
   :공통 CSS Code만을 작성함.
*/

/* 
  Font 규정.
   1. Poppins : Default font
        Default 정의:
          Size: 12px
          Weight: 400;
          Color: 미정;
   2. Quicksand : Title에만 부분적용하여 사용
        Default 정의:
          Size: 16(Sub Title) or 18px(Title);
          Weight: 500;
          Color: 미정;
          *사용코드참고 = font-family: 'Quicksand', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/* 
  Reset Code.
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #454545;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Contextmenu */
@keyframes ContextFadeIn {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Contextmenu의 icon */
.anticon {
  padding-right: 5px;
}

/* tree -> 해당 파일 묶는 라인 css */
/* .ant-tree li {
  position: relative;
}
.ant-tree li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -6px;
  height: 100%;
  width: 1px;
  background-color: tomato;
} */

/* 
  Checkbox 
*/


/* 
  Scroll
*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eefdff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #04bdd65d;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #04bed6;
}

/* arrow 추가 */
::-webkit-scrollbar-button {
  background: #c0c0c0;
  cursor: pointer;
}

/* ::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url(../src/assets/img/ic-scroll-arrow-left.svg);
  background-size: 100%;
  background-position-y: -1px;
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(../src/assets/img/ic-scroll-arrow-right.svg);
  background-size: 100%;
  background-position-y: -1px;
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../src/assets/img/ic-scroll-arrow-bottom.svg);
  background-size: 100%;
  background-position-y: 1px;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../src/assets/img/ic-scroll-arrow-top.svg);
  background-size: 100%;
  background-position-y: 1px;
} */

/* 
  Tree Style
*/
/* DCP 이하 node ...처리 */
/* .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper, .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper {
  width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before {
  background: #ccc !important;
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent !important;
} */

/*
* Navigation style
*/
/* fab menu */
.navigation .ant-select-selection {
  border: 0 !important;
  /* border-bottom: 1px solid #dfdfdf !important; */
  border-bottom: 1px solid #04bed6 !important;
  border-radius: 0 !important;
  font-size: 12px;
  
}

.navigation .ant-select-arrow {
  color: #04bed6 !important;
}

.navigation .ant-select-selection-selected-value {
 color: #5ccee0 !important;
 font-weight: 500;

 /* padding: 2px 19px;
 height: 28px;
 line-height: 24px;
 border: 1px dashed #dedede; */
}

.navigation .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
  /* color: red !important; */
}

/*
* filter - search input
*/
.navigation .ant-input-affix-wrapper .ant-input {
  border-radius: 0;
  border-color: #dedede;
}

/* 
* Tree
*/
.navigation .ant-tree.ant-tree-show-line li {
  font-size: 12px;
}

.navigation .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #04bed6 !important;
  
}

.navigation .ant-tree-node-selected .ant-tree-title {
  color: #fff;
}

/* Picker */
.navigation .ant-calendar-picker-input {
  border-radius: 0;
  border-color: #dedede;
}

/* Button */
.navigation .ant-btn {
  border: 0;
  border-radius: 0;
  background-color: #dedede;
}

.navigation .ant-btn > span {
  font-size: 12px;
  color: #da5e53;
  line-height: 32px;
  font-weight: 500;
}

.navigation .ant-btn:hover {
  background-color: #da5e53;
}

.navigation .ant-btn:hover > span {
  color: #fff;
}