/* 
  Common CSS 
   :공통 CSS Code만을 작성함.
*/

/* 
  Font 규정.
   1. Poppins : Default font
        Default 정의:
          Size: 12px
          Weight: 400;
          Color: 미정;
   2. Quicksand : Title에만 부분적용하여 사용
        Default 정의:
          Size: 16(Sub Title) or 18px(Title);
          Weight: 500;
          Color: 미정;
          *사용코드참고 = font-family: 'Quicksand', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");

/* 
  Reset Code.
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #454545;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Contextmenu */
@keyframes ContextFadeIn {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.anticon {
  padding-right: 10px;
}

/* 
  Scroll
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #434549a9; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9494946b;
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #949494c0;
}

/* arrow 추가 */
::-webkit-scrollbar-button {
  background: #949494c7;
  /* display: none; */
}

::-webkit-scrollbar-button:horizontal:decrement {
  /* background-image: url(../src/assets/img/ic-scroll-arrow-left.svg); */
  /* background-size: 100%; */
  /* background-position-y: -1px; */
  /* border: 1px solid red; */
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:horizontal:increment {
  /* background-image: url(../src/assets/img/ic-scroll-arrow-right.svg);
  background-size: 100%;
  background-position-y: -1px; */
  /* border: 1px solid red; */
  /* opacity: 0; */
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
  /* background-image: url(../src/assets/img/ic-scroll-arrow-bottom.svg);
  background-size: 100%;
  background-position-y: 1px; */
}

::-webkit-scrollbar-button:vertical:decrement {
  /* background-image: url(../src/assets/img/ic-scroll-arrow-top.svg);
  background-size: 100%;
  background-position-y: 1px; */
  /* border: 1px solid red; */
}

/* spinner */
.ant-spin-lg .ant-spin-dot i {
  background-color: #04bed6;
}

.ant-spin.ant-spin-show-text .ant-spin-text {
  color: #fff;
  font-size: 12px;
}

/*
* Navigation style ----------------------
*/
/* fab menu */
.navigation .ant-select-selection {
  border: 0 !important;
  /* border-bottom: 1px solid #dfdfdf !important; */
  border-bottom: 1px solid #f8f8f8 !important;
  border-radius: 0 !important;
  font-size: 12px;
  background-color: transparent;
}

.navigation .ant-select-arrow {
  color: #f8f8f8 !important;
}

.navigation .ant-select-selection-selected-value {
  color: #5ccee0 !important;
  font-weight: 500;
  color: rgb(42, 20, 56);
}

/* filter - search input */
.navigation .ant-input-affix-wrapper .ant-input {
  border-radius: 15px;
  background-color: transparent;
  color: #f8f8f8;
}

.navigation .ant-input-search-icon {
  color: #f8f8f8;
  margin-left: 10px;
  padding: 0;
}

.navigation .ant-input-search-icon:hover {
  color: #04bed6;
}

/* Tree */
.navigation .ant-tree.ant-tree-show-line li {
  font-size: 12px;
}

.navigation .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent !important;
}

.ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: transparent !important;
  border-radius: 0;
}

.navigation .ant-tree-node-selected .ant-tree-title {
  color: #fff;
}

.navigation .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
  background-color: #2d2e30 !important;
  color: #c5d2da !important;
}

.navigation .ant-tree.ant-tree-show-line li:not(:last-child):before {
  border-left: 1px solid #c5d2da57;
}

/* tree - ... text code */
.navigation .ant-tree-title {
  color: #c5d2da;
  /* border: 1px solid red;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.navigation .ant-tree-node-selected .ant-tree-title {
  color: #04bed6;
  font-weight: 500;
}

.navigation .ant-tree-filtered {
  color: #24ffc8;
  font-weight: 500;
}

.navigation .ant-tree-node-selected .ant-tree-title .ant-tree-filtered {
  color: #04bed6;
}

/* check box */
.navigation .ant-tree-checkbox-inner {
  border: 1px solid #c5d2da57;
  border-radius: 0;
  background-color: transparent;
}

.navigation .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  /* background-color: #04bed6; */
  background-color: transparent;
  border: 1px solid #c5d2daad;
}

.navigation .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner:after {
  background-color: #24ffc8;
}

.ant-tree-checkbox-checked .ant-tree-checkbox-inner:after {
  border-color: #04bed6 !important;
}

/* datePicker */
.navigation .ant-calendar-picker-input {
  border-radius: 0;
  border-color: #dedede;
}

.navigation .ant-input {
  background-color: transparent;
  color: #f8f8f8;
  border: 1px solid #c5d2da;
}

.navigation .ant-calendar-picker-icon::after {
  /* background-color: transparent; */
  color: #c5d2da;
}

.navigation .date-picker {
  border-radius: 0 !important;
  background-color: #f8f8f8;
}

.navigation .ant-calendar-picker-clear,
.navigation .ant-calendar-picker-clear:hover {
  background: #2d2e30;
  color: #24ffc8;
}

/* Button */
.navigation .ant-btn {
  border: 0;
  border-radius: 0;
  background-color: #f8f8f8;
}

.navigation .ant-btn > span {
  font-size: 12px;
  color: #535353;
  line-height: 32px;
  font-weight: 500;
}

.navigation .ant-btn:hover,
.navigation .ant-btn:focus,
.navigation .ant-btn:active {
  background-color: #04bed6;
}

.navigation .ant-btn:hover .anticon,
.navigation .ant-btn:focus .anticon {
  color: #f8f8f8;
}

.navigation .ant-btn:hover > span,
.navigation .ant-btn:focus > span {
  color: #fff;
}

/*
* table style ----------------------
*/
/* lot/wafer */
.lot-wafer .ant-menu-horizontal {
  line-height: 35px;
  border-bottom: 1px solid #b4b4b4 !important;
}

.lot-wafer .ant-menu-horizontal > .ant-menu-item {
  width: 100px !important;
  color: #535353 !important;
}

.lot-wafer .ant-menu-horizontal > .ant-menu-item:hover {
  color: #04bed6 !important;
  border: 0;
  border-bottom: 1px solid #04bed6 !important;
}

.lot-wafer .ant-menu-horizontal > .ant-menu-item-selected {
  color: #04bed6 !important;
  border-bottom: 2px solid #04bed6 !important;
  font-weight: 500;
}

.lot-wafer .ant-btn > i, .ant-btn > span {
  color: #535353;
}

.lot-wafer .anticon-down {
  padding: 0;
}

/* filter box */
.filter .ant-btn-primary {
  background-color: #04bed6;
  border: 0;
}

.filter .ant-btn-primary > span {
  font-size: 12px;
  color: #fff;
}

.filter .ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #04bed6 !important;
}

.filter .resetButton {
  background-color: #858585;
  border: 0;
}

.filter .resetButton:hover {
  background-color: #da5e53;
}

.filter .resetButton > span {
  margin-left: -5px;
  border: 0;
  color: #fff;
}

.filter .ant-btn:focus {
  background-color: #da5e53;
}

/*
* chart style ----------------------
*/
/* parameter box */
.parameters .ant-select-selection--single {
  border-radius: 0;
  background-color: #f8f8f8;
  border: 0;
}

.parameters .ant-select-selection-selected-value {
  color: #535353;
  font-weight: 500;
}

.parameters .ant-select-open .ant-select-selection-selected-value {
  font-size: 12px;
}

/* error noti */
.ant-notification {
  width: auto !important;
}

.ant-notification-notice-with-icon {
  display: flex;
  align-items: center;
}

.ant-notification-notice-icon {
  font-size: 16px !important;
  margin-left: 0 !important;

}

.ant-notification-notice-close {
  top: 22px !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-left: 28px !important;
  padding-right: 0 !important;
}

/* Series & Label filter */
.series-label-select .ant-checkbox-checked .ant-checkbox-inner {
  border-radius: 0;
  background-color: #10d4a3;
  border-color: #10d4a3;
}
